@model Core_RBS.Models.Campanha

@{
    ViewData["Title"] = "Detalhes";
}

<h1>Detalhes</h1>
<h4>Campanha</h4>
<div class="row">
    <div class="col-md-6">
        <dl class="row">
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.Chave)
            </dt>
            <dd class="col-sm-6">
                @Html.DisplayFor(model => model.Chave)
            </dd>
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.Descricao)
            </dt>
            <dd class="col-sm-6">
                @Html.DisplayFor(model => model.Descricao)
            </dd>
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.DataHoraInicio)
            </dt>
            <dd class="col-sm-6">
                @Html.DisplayFor(model => model.DataHoraInicio)
            </dd>
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.DataHoraFim)
            </dt>
            <dd class="col-sm-6">
                @Html.DisplayFor(model => model.DataHoraFim)
            </dd>
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.AutoAvaliacao)
            </dt>
            <dd class="col-sm-6">
                @Html.DisplayFor(model => model.AutoAvaliacao)
            </dd>
        </dl>
        <div>
            <a asp-action="Edit" asp-route-id="@Model.CamID">Editar</a> |
            <a asp-action="Index">Voltar</a>
        </div>
    </div>
    <div class="col-md-6">
            <dl class="row">
                <dt class="col-sm-2">
                    @if (ViewBag.QRCodeImage != null)
                    {
                        <img src="@ViewBag.QRCodeImage" alt="" style="height:400px;width:400px" />
                    }
                </dt>
                <dd class="col-sm-10">

                </dd>
                <dt class="col-sm-2 text-center">
                    <a asp-controller="Votos" asp-action="Votar" asp-route-id="@Model.Chave">@ViewBag.URL</a>
                </dt>
                <dd class="col-sm-10">

                </dd>
            </dl>
    </div>
</div>
