@model IEnumerable<Core_RBS.Models.Campanha>

@{
    ViewData["Title"] = "Campanha";
}

<h1>Campanha</h1>

<p>
    <a asp-action="Create">Nova Campanha</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Chave)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descricao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataHoraInicio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataHoraFim)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AutoAvaliacao)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Chave)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Descricao)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DataHoraInicio)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DataHoraFim)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AutoAvaliacao)
                </td>
                <td>
                    <a asp-controller="Votos" asp-action="Votar" asp-route-id="@item.Chave">URL</a> |
                    <a asp-action="Edit" asp-route-id="@item.CamID">Editar</a> |
                    <a asp-action="Details" asp-route-id="@item.CamID">Detalhes</a> |
                    <a asp-action="Delete" asp-route-id="@item.CamID">Deletar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
