@model IEnumerable<Nota2.Models.TipoUsuario>

@{
    ViewData["Title"] = "Tipo Usuário";
}

<h1>Tipo Usuário</h1>

<p>
    <a asp-action="Create">Novo Tipo Usuário</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Descricao)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Descricao)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.TipoID">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.TipoID">Detalhes</a> |
                <a asp-action="Delete" asp-route-id="@item.TipoID">Deletar</a>
            </td>
        </tr>
}
    </tbody>
</table>
