@model Core_RBS.ModelsView.RelatorioViewModel

@{
    ViewData["Title"] = "Relatório de Votos";
}

<h2>@ViewData["Title"]</h2>

<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <form class="navbar-form navbar-left" role="search" asp-action="RelatorioVotos">
            <div class="form-row align-items-center">
                <div class="form-group col-md-auto">
                    <div class="row">
                        <div class="col">
                            <label for="minDate">Campanha:</label>
                            @Html.DropDownList("camId", new SelectList(Model.ListCampanhas, "CamID", "Descricao"), "TODAS", new { @class = "form-control" })
                        </div>
                        <div class="col">
                            <input class="form-check-input" type="checkbox" value="1" name="autoavaliacao" @Model.AutoAvaliacaoChecked>
                            <label class="form-check-label" for="autoavaliacao">Autoavaliação</label>                          
                        </div>
                    </div>
                </div>
                <div class="form-group col-md-auto">
                    <label for="minDate">Período:</label>
                    <div class="row">
                        <div class="col">
                            <input type="datetime-local" class="form-control" name="minDate" value=@ViewData["minDate"] />
                        </div>
                        <div class="col">
                            <input type="datetime-local" class="form-control" name="maxDate" value=@ViewData["maxDate"] />
                        </div>
                        <div class="col">
                            <button type="submit" class="btn btn-primary">Filtrar</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</nav>
@if (Model.Campanhas != null) {
<div class="panel panel-primary">
    <div class="panel-body">
        <table class="table table-striped table-hover">
            @foreach (var campanha in Model.Campanhas)
            {
                <thead>
                    <tr>
                        <th>@campanha.Descricao</th>
                        <th>@campanha.DataHoraFim - @campanha.DataHoraFim</th>
                        <th>                           
                            @if (campanha.Votos.Count > 0)
                            {
                                <span>Total de votos: @campanha.Votos.Count - Media: @Math.Round(campanha.Votos.Sum(p => p.Nota) / (double)campanha.Votos.Count, 2)</span>
                            }
                            else
                            {
                                <span>0</span>
                            }

                        </th>
                    </tr>
                </thead>
                foreach (var voto in campanha.Votos)
                {
                    <tbody>
                        <tr>
                            <td>
                                Nota: @voto.Nota
                            </td>
                            <td>
                                Data/Hora voto: @voto.DataVoto
                            </td>
                            <td></td>
                        </tr>
                    </tbody>
                }
            }
            <thead>
                <tr>
                    <td></td>
                    <td></td>
                    <td>Total de Votos: @ViewBag.TotalVotos - Media Geral: @ViewBag.MediaGeral</td>
                </tr>
            </thead>
        </table>
    </div>
</div>
}