@model Core_RBS.ModelsView.HomeViewModel
@using Microsoft.AspNetCore.Identity
@inject SignInManager<Usuario> SignInManager

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Sistema de Avaliação</h1>
    <p>Sobre o aplicativo <a href="https://docs.microsoft.com/aspnet/core">Desenvolvido com ASP.NET Core</a>.</p>
</div>

@if (SignInManager.IsSignedIn(User))
{
    @if (User.IsInRole("Professor"))
    {
        <div class="card">
            <h5 class="card-header">SUAS CAMPANHAS ATIVAS NO MOMENTO</h5>
            <div class="card-body">
                @if (Model.Campanhas.Count() > 0)
                {
                    <p class="card-text">Você possui @Model.Campanhas.Count() campanha(s) ativa(s):</p>
                    <table class="table table-striped table-hover">
                        @foreach (var campanha in Model.Campanhas)
                        {
                            <tr>
                                <td>
                                    @campanha.Descricao
                                </td>
                                <td>
                                    Código: @campanha.Chave
                                </td>
                                <td>
                                    Finaliza em @campanha.DataHoraFim.ToString("dd/MM/yyyy HH:mm")
                                </td>
                                <td>
                                    Votos: &nbsp; <span class="badge badge-primary badge-pill"> @campanha.Votos.Count </span>
                                </td>
                            </tr>
                        }
                    </table>
                }
                else
                {
                    <span>Nenhuma campanha ativa no momento.</span>
                }
            </div>
        </div>
    }
}