@model Nota2.Models.Campanha

@{
    ViewData["Title"] = "Detalhes";
}

<h1>Detalhes</h1>

<div>
    <h4>Campanha</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Chave)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Chave)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Descricao)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Descricao)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DataHoraInicio)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DataHoraInicio)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DataHoraFim)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DataHoraFim)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AutoAvaliacao)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AutoAvaliacao)
        </dd>
    </dl>
    <dl class="row">
        <dt class="col-sm-2">
            @if (ViewBag.QRCodeImage != null)
            {
                <img src="@ViewBag.QRCodeImage" alt="" style="height:300px;width:300px" />
            }
        </dt>
        <dd class="col-sm-10">

        </dd>
        <dt class="col-sm-2">
            <a asp-controller="Votos" asp-action="Votar" asp-route-id="@Model.Chave">@ViewBag.URL</a> 
        </dt>
        <dd class="col-sm-10">

        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.CamID">Edit</a> |
    <a asp-action="Index">Voltar</a>
</div>
